<p><%= notice %></p>

<h1>categories</h1>

<div id="groups">
  <% @categories.each do |category| %>
    <P><%= category.name %></p>
    <P><%= category.icon %></p>
  <% end %>
</div>

<%= link_to "Add category", new_user_category_path %>
