<p><%= notice %></p>

<h1>Trades</h1>

<div id="trades">
  <% @trades.each do |trade| %>
    <p>
      <%= trade.name %>
      <%= trade.amount %>
    </p>
    
  <% end %>
</div>

<%= link_to "New trade", new_user_category_trade_path %>
