<p style="color: green"><%= notice %></p>

<%= render @trade %>

<div>
  <%= link_to "Edit this trade",  edit_user_category_trade_path(@trade) %> |
  <%= link_to "Back to trades", user_categories_path %>

  
</div>
